{% load static %}

<html>
<head>
    <title>{{name}}</title>
    <link rel="stylesheet" href="{% static '/css/singlepg_style.css' %}"/>
    <link rel="icon" href="{% static '/imgs/logo.svg' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <style>
        @font-face{
        font-family: "Montserrat-semibold";
        src: url("{% static '/fonts/Montserrat-SemiBold.woff' %}") format('woff'),
        url("{% static '/fonts/Montserrat-SemiBold.woff2' %}") format('woff2');
        }
        @font-face{
            font-family: "Montserrat-medium";
            src: url("{% static '/fonts/Montserrat-Medium.woff' %}") format('woff'),
            url("{% static '/fonts/Montserrat-Medium.woff2' %}") format('woff2');
        }
        @font-face{
            font-family: 'Montserrat-regular';
            src: url("{% static '/fonts/Montserrat-Regular.woff' %}"), format('woff'),
            url("{% static '/fonts/Montserrat-Regular.woff2' %}"), format('woff2')
        }
    </style>
    <script>
        var box1 = "/media/{{image}}";
        var box2 = "/media/{{image}}";
        var box3 = "/media/{{image}}";
        var box4 = "/media/{{image}}";

        var starfull = "{% static '/imgs/star_full.svg' %}";
        var starhalf = "{% static '/imgs/star_half.svg' %}";
        var starnone = "{% static '/imgs/star_none.svg' %}";
        var rating = '{{rating}}'
    
    </script>

</head>
<body>
    <div class="wrapper">
        <div id="dropdownwrapper">
        
            <div class="dropdown2" id="drop2">
                <a href="{% url 'wishlist' %}">
                    <span><img src="{% static '/imgs/wishlist.svg' %}" alt="wishlist icon"/></span>
                    Wishlist
                </a>
                <a href="{% url 'cart' %}">
                    <span><img src="{% static '/imgs/cart.svg' %}" alt="cart icon"/></span>
                    Cart
                </a>
                <a style="align-items: center;" onclick="dropdown('1')">
                    <span><img src="{% static '/imgs/account.svg' %}" alt="account icon"></span>
                    {{request.user.first_name}}
                    <span style="margin-left: 10px;margin-right: 0px; width: 15px;"><img src="{% static '/imgs/dropdown_arrow.svg' %}" alt="dropdown arroe"></span>
                </a >
            </div>
    
    
            <div class="dropdown" id="drop1">
                <a href=""  class="dropdown_content">
                    <div style="display: flex;"><span class="dropdown_icons"><img src="{% static '/imgs/account.svg' %}" alt="accounticon"></span> <span> Profile</span></div>
                    <span class="dropdown_icons"><img src="{% static '/imgs/angular_bracket.svg' %}" alt="arrow"></span>
                </a>
    
                <a href=""  class="dropdown_content">
                    <div style="display: flex;"><span class="dropdown_icons"><img src="{% static '/imgs/truck_icon.svg' %}" alt="truck icon"></span> <span> My address</span></div>
                    <span class="dropdown_icons"><img src="{% static '/imgs/angular_bracket.svg' %}" alt="arrow"></span>
                </a>
    
                <a href="{% url 'cart' %}"  class="dropdown_content">
                    <div style="display: flex;"><span class="dropdown_icons"><img src="{% static '/imgs/cart.svg' %}" alt="acart icon"></span> <span> My orders</span></div>
                    <span class="dropdown_icons"><img src="{% static '/imgs/angular_bracket.svg' %}" alt="arrow"></span>
                </a>
    
                <a href=""  class="dropdown_content">
                    <div style="display: flex;"><span class="dropdown_icons"><img src="{% static '/imgs/notification_icon.svg' %}" alt="notification icon"></span> <span>Notification</span></div>
                    <span class="dropdown_icons"><img src="{% static '/imgs/angular_bracket.svg' %}" alt="arrow"></span>
                </a>
    
                <a href="{% url 'login' %}"  class="dropdown_content">
                    <div style="display: flex;"><span class="dropdown_icons"><img src="{% static '/imgs/logout_icon.svg' %}" alt="logout icon"></span> <span>Logout</span></div>
                    <span class="dropdown_icons"><img src="{% static '/imgs/angular_bracket.svg' %}" alt="arrow"></span>
                </a>
            </div>
        </div>
         <!--Header-->
         <div class="header">
                
            <!--header left part-->
            <div class="logo_searchbar">
                <h1><a href="{% url 'index' %}"><img src="{% static '/imgs/logo.svg' %}" alt="logo"/></a></h1>        <!--LOGO-->
                <div class="search">
                    <span onclick="search()" style="cursor: pointer;"><img src="{% static '/imgs/search.svg' %}" alt="search icon"/></span>
                    <input type="text" name="search" id="search" placeholder="Search products">
                </div>
            </div>
    
            <!--header right part-->
            <div class="links">
                <a href="{% url 'wishlist' %}">
                    <span><img src="{% static '/imgs/wishlist.svg' %}" alt="wishlist icon"/></span>
                    Wishlist
                </a>
                <a href="{% url 'cart' %}">
                    <span><img src="{% static '/imgs/cart.svg' %}" alt="cart icon"/></span>
                    Cart
                </a>
                <a onclick="dropdown('1')" style="align-items: center;">
                    <span><img src="{% static '/imgs/account.svg' %}" alt="account icon"></span>
                    {{request.user.first_name}}
                    <span style="margin-left: 10px;margin-right: 0px; width: 15px;"><img src="{% static '/imgs/dropdown_arrow.svg' %}" alt="dropdown arroe"></span>
                </a >
            </div>
            
            <div class="menu" onclick="dropdown('2')" id="menu">
                <img src="{% static '/imgs/menu.svg' %}" alt="menu button"/>
            </div>
    
        </div>

        <div class="section_wrapper">
            
            <div id="left">
                <div id="watch_big"><img src="/media/{{image}}" alt="watch"/></div>
                <div class="img_list" id="img_list">
                    <span onclick="changeColor(box1)"><img src="/media/{{image}}" alt="watch"/></span>
                    <span onclick="changeColor(box2)"><img src="/media/{{image}}" alt="watch"/></span>
                    <span onclick="changeColor(box3)"><img src="/media/{{image}}" alt="watch"/></span>
                    <span onclick="changeColor(box4)"><img src="/media/{{image}}" alt="watch"/></span>
                </div>

                <div class="button_container">
                    <a href="{% url 'addtocart' id 'single' %}" class="buttons" style="color: #7B7B75;">Add to cart <span><img src="{% static '/imgs/cart2.svg' %}" alt="cart"></span></a>
                    <div class="buttons" style="color: #4C4C4C; background-color:#FFD700">Buy now <span><img src="{% static '/imgs/shoppingbag_icon.svg' %}" alt="shopping bag"></span></div>
                </div>
            </div>

            <div id="right">
                <div class="box1">
                    <div style="color: #2D2D2C; font-size: 18pt; font-family: 'Montserrat-medium';">{{name}}</div>
                    <div style="color: #41413F; font-size: 13pt;">{{caption}}</div>
                    <div style="display: flex;" class="star_container" id="stars_container"></div>
                    <div style="color: #2D2D2C; font-size: 18pt; font-family: 'Montserrat-medium'">
                        <span>Rs.{{discount_price|floatformat:0}} </span>
                        {% if discount %}
                        <span id="original">Rs.{{original_price}}</span>
                        <span id="offer"> {{discount}}% Offer </span>
                        {% endif %}
                    </div>
                    <div style="color: #4EAB2D; font-size: 10pt;">Inclusive of all tax</div>
                    {% if stock > 5 %}
                    <div style="color: #4EAB2D;">In stock</div>
                    {% elif stock > 0 %}
                    <div style="color: #A98F02;">Only {{stock}} left!! </div>
                    {% else %}
                    <div style="color: red;">Out of stock</div>
                    {% endif %}
                </div>

                <div class="box2">
                    <div style="font-size: 18pt; font-family: 'Montserrat-medium'; color: #2D2D2C;">Offers</div>
                    <div>Buy on 6 Interest - Free EMIs of Rs.1999 With</div>
                    <div>Get Rs.25* Instant discount for the 1 st Buycart order using Buycart UPI <span style="color: #A98F02; font-family: 'Montserrat-medium';">T&C</span></div>
                    <div>Combo offer Buy 2 items save 2% || Buy 3 or more save 5% See all products <span style="color: #A98F02; font-family: 'Montserrat-medium';">T&C</span></div>
                </div>

                <div class="box3">
                    <div style="font-size: 18pt; font-family: 'Montserrat-medium'; color: #2D2D2C;">Delivery options</div>
                    <div>
                        <input type="text" placeholder="Enter pincode"> <span style="color: #A98F02; font-size: 14pt;">Check</span>
                    </div>
                    <ul style="padding-left: 20px;">
                        <li>100% Original product</li>
                        <li>Pay on delivery might be available</li>
                        <li>Easy 14 days returns and exchanges</li>
                        <li>Try & Buy might be available</li>
                    </ul>
                </div>

                <div class="box4">
                    <div style="border-bottom: solid 0.5px #F7F7ED;padding: 5px; font-size: 18pt; font-family: 'Montserrat-medium'; color: #2D2D2C; display: flex;justify-content: space-between;">Product details <span style="color: #3F8AE3; font-size: 12pt;">View more</span></div>

                        <div>
                            <div  style="display: flex;margin-bottom: 10px;"><div class="title">Item name</div> <div class="property">{{name}}</div></div>
                            <div  style="display: flex;margin-bottom: 10px;"><div class="title">Item type</div> <div class="property">{{subcategory}}</div></div>
                            <div  style="display: flex;margin-bottom: 10px;"><div class="title">Category</div> <div class="property">{{category}}</div></div>
                            <!-- <div  style="display: flex;margin-bottom: 10px;"><div class="title">Occasion</div> <div class="property">Sports</div></div> -->
                            <div  style="display: flex;margin-bottom: 10px;"><div class="title">Sales package</div> <div class="property">{{package_contents}}</div></div>
                        </div>
                       
                </div>
            </div>
        </div>
    </div>
    
</body>
<script src="{% static '/js/singlepg_script.js' %}"></script>
<script>
    function search(){
        var input = document.getElementById('search').value;
        if(input){
            var url = "{% url 'search' 'placeholder' %}".replace('placeholder', input);
            window.location.href = url;
        }
    }
</script>
</html>